{% extends "layout.html" %}
{% block content %}
<style>
    .hidden {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
    }

    li {
        clear: both;
    }

    li button {
        /* appearance: none; */
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
    }

    .list-wrapper {
        display: inline-block;
        vertical-align: top;
        width: 250px;
    }

    .todo-wrapper {
        display: inline-block;
        vertical-align: top;
        outline-style: groove;
        outline-color: #DFB887;
        padding: 20px;
        width: 350px;
    }

    #cato_description {
        width: 100px;
    }
</style>
<div class="home">
    <h1>TO DO:</h1>
    <div class="list-wrapper">
        <div style="margin: 10px;">
            <p><strong> Category</strong></p>
            <form id="todolist_form">
                <input type="text" id="cato_description" name="cato_description" />
                <input type="submit" value="create" />
            </form>
        </div>
        <div id="error2" class="hidden">发生了一些错误</div>
        <ul id="lists" style="padding:20px;">
            {% for list in todolists %}
            <li>
                <input type="checkbox" data-id="{{list.id}}" class="check-completed2" {% if list.completed %} checked {%
                    endif %} />
                <a href="/lists/{{list.id}}">{{list.name}}</a>
                <button class="delete-button2" data-id="{{list.id}}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="todo-wrapper">
        <div style="margin: 10px;">
            <h4 id="active_list">{{active_list.name}}</h4>
            <form id="form">
                <input type="text" id="description" name="description" />
                <input type="submit" value="Create" />
            </form>
        </div>
        <div id="error" class="hidden">发生了一些错误</div>
        <ul id="todos">
            {% for todo in todos%}
            <!-- Json对象可以通过xx.name来调用获取,json 是字符串,
        在js中，json格式文件.xxx可以直接取到 不是字典！！ -->
            <li>
                <input type="checkbox" data-id="{{todo.id}}" class="check-completed" {% if todo.completed %} checked {%
                    endif %} />{{todo.description}}
                <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
            </li>
            {% endfor%}
        </ul>
    </div>


</div>
<script>
    const checkboxes2 = document.querySelectorAll('.check-completed2');
    for (let i = 0; i < checkboxes2.length; i++) {
        const checkbox = checkboxes2[i];
        checkbox.onchange = function (e) {
            const newCompleted = e.target.checked;
            const todolistId = e.target.dataset['id'];
            fetch('/todolists/' + todolistId + '/set-completed', {
                method: 'POST',
                body: JSON.stringify({
                    'completed': newCompleted
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(function () {
                    document.getElementById('error2').className = 'hidden';
                })
                .catch(function () {
                    document.getElementById('error2').className = '';
                })
        }
    }

    const deleteBtns2 = document.querySelectorAll('.delete-button2');
    for (let i = 0; i < deleteBtns2.length; i++) {
        const btn = deleteBtns2[i];
        btn.onclick = function (e) {
            console.log('event',e);
            const todolistId = e.target.dataset['id'];
            fetch('/todolists/' + todolistId, {
                method: 'DELETE'
            })
                .then(function () {
                    const item = e.target.parentElement;
                    item.remove();
                    // const item2 = document.getElementsByClassName('todo-wrapper');
                    // item2.remove();
                    document.getElementById('error2').className = 'hidden';
                })
                .catch(function () {
                    document.getElementById('error2').className = '';
                })
        }
    }

    const todolistInput = document.getElementById('cato_description');
    document.getElementById('todolist_form').onsubmit = function (e) {
        e.preventDefault();
        const desc = todolistInput.value;
        todolistInput.value = '';
        fetch('/todolists/create', {
            method: 'POST',
            body: JSON.stringify({
                'name': desc,
            }),
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => response.json())
            .then(jsonResponse => {
                const li = document.createElement('li');
                const checkbox = document.createElement('input');
                checkbox.className = 'check-completed2';
                checkbox.type = 'checkbox';
                li.appendChild(checkbox);

                const text = document.createElement('a');
                text.className = 'check-completed';
                text.href = '/lists/' + {{ active_list.id }}+'';
                text.innerHTML = ' ' + jsonResponse.name;
                li.appendChild(text);

                const deleteBtn = document.createElement('button');
                deleteBtn.className = 'delete-button2';
                deleteBtn.innerHTML = '&cross;';
                li.appendChild(deleteBtn);

                document.getElementById('lists').appendChild(li);
                document.getElementById('error2').className = 'hidden';
    })
            .catch (function () {
        console.error('Error occurred');
        document.getElementById('error2').className = '';
    })
    }

    const descInput = document.getElementById('description');
    document.getElementById('form').onsubmit = function (e) {
        e.preventDefault();
        const desc = descInput.value;
        descInput.value = '';
        fetch('/todos/create', {
            method: 'POST',
            body: JSON.stringify({
                'description': desc,
                'list_id': {{ active_list.id }},
            }),
    headers: {
        'Content-Type': 'application/json',
            }
        })
            .then(response => response.json())
        .then(jsonResponse => {
            const li = document.createElement('li');
            const checkbox = document.createElement('input');
            checkbox.className = 'check-completed';
            checkbox.type = 'checkbox';
            checkbox.setAttribute('data-id', jsonResponse.id);
            li.appendChild(checkbox);

            const text = document.createTextNode(jsonResponse.description);
            li.appendChild(text);

            const deleteBtn = document.createElement('button');
            deleteBtn.className = 'delete-button';
            deleteBtn.setAttribute('data-id', jsonResponse.id);
            deleteBtn.innerHTML = '&cross;';
            li.appendChild(deleteBtn);

            document.getElementById('todos').appendChild(li);
            document.getElementById('error').className = 'hidden';
        })
        .catch(function () {
            console.error('Error occurred');
            document.getElementById('error').className = '';
        })
    }

    const checkboxes = document.querySelectorAll('.check-completed');
    for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function (e) {
            const newCompleted = e.target.checked;
            const todoId = e.target.dataset['id'];
            fetch('/todos/' + todoId + '/set-completed', {
                method: 'POST',
                body: JSON.stringify({
                    'completed': newCompleted
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
        .then(jsonResponse => {
            if (jsonResponse.change === True){
                const checks = document.querySelectorAll('.check-completed2');
                for (let i = 0; i < checks.length; i++){
                    if (checks[i] === jsonResponse.listid){
                        checks[i].checked = false
                    }
                }
            }
            document.getElementById('error').className = 'hidden';
                })
                .catch(function () {
                    document.getElementById('error').className = '';
                })
        }
    }

    const deleteBtns = document.querySelectorAll('.delete-button');
    for (let i = 0; i < deleteBtns.length; i++) {
        const btn = deleteBtns[i];
        btn.onclick = function (e) {
            console.log(e);
            const todoId = e.target.dataset['id'];
            fetch('/todos/' + todoId, {
                method: 'DELETE'
            })
                .then(function () {
                    const item = e.target.parentElement;
                    item.remove();
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function () {
                    document.getElementById('error').className = '';
                })
        }
    }

</script>
{% endblock %}